/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Rafael Martinez 
   Date: 1/16/18   

   Filename: sb_validate.css

*/


/* Validation Styles */